@import url('https://unpkg.com/ress/dist/ress.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Variables */
:root{
	--color-primary: hsl(32, 95%, 55%);
	--color-secondary: hsl(32, 25%, 92%);
	--color-white: white;
	--color-text-primary: hsl(32, 20%, 12%);
	--color-text-secondary: hsl(32, 10%, 60%);
}

*{
	color: inherit;
}

html{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: var(--color-text-primary);
}

body{
	background: var(--color-secondary);
}

img{
	width: 100%;
}

/* Components */
.btn{
	display: inline-block;
	background: var(--color-primary);
	color: var(--color-white);
	padding: 12px 30px;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2rem;
}

/* Header */
#header{
	padding: 80px;
	text-align: center;
}

#header__title{
	font-size: 3rem;
	font-weight: 800;
}

#header__text{
	font-size: 1.5rem;
	color: var(--color-text-secondary);
}

/* Features */
#features{
	padding: 50px;
	text-align: center;
}

.features__item{
	list-style: none;
}

/* How it works */
#how-it-works{
	padding: 50px;
}

/* About */
#about{
	padding: 50px;
}

#about__photo{
	border-radius: 10px;
}

/* Testimonials */
#testimonials{
	padding: 50px;
}

#testimonials__title{
	margin-bottom: 50px;
	font-size: 2rem;
}

.testimonials__item{
	background: var(--color-white);
	border-radius: 10px;
	border: 1px solid var(--color-text-secondary);
}

.testimonials__photo{
	width: 100px;
	border-radius: 10px;
}